[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2025/4-grading-tests.git
[submodule "4-AnastasiyaMedentseva"]
	path = 4-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/4-AnastasiyaMedentseva.git
	branch = main
[submodule "4-LeoN192"]
	path = 4-LeoN192
	url = https://github.com/spbu-coding-2025/4-LeoN192.git
	branch = main
[submodule "4-LinaraSun"]
	path = 4-LinaraSun
	url = https://github.com/spbu-coding-2025/4-LinaraSun.git
	branch = main
