[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2025/4-grading-tests.git
[submodule "4-AnastasiyaMedentseva"]
	path = 4-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/4-AnastasiyaMedentseva.git
	branch = main
[submodule "4-LeoN192"]
	path = 4-LeoN192
	url = https://github.com/spbu-coding-2025/4-LeoN192.git
	branch = main
[submodule "4-LinaraSun"]
	path = 4-LinaraSun
	url = https://github.com/spbu-coding-2025/4-LinaraSun.git
	branch = main
[submodule "4-RomanKazz"]
	path = 4-RomanKazz
	url = https://github.com/spbu-coding-2025/4-RomanKazz.git
	branch = main
[submodule "4-danisaev"]
	path = 4-danisaev
	url = https://github.com/spbu-coding-2025/4-danisaev.git
	branch = main
[submodule "4-e-leshnik"]
	path = 4-e-leshnik
	url = https://github.com/spbu-coding-2025/4-e-leshnik.git
	branch = main
[submodule "4-gorbuzova"]
	path = 4-gorbuzova
	url = https://github.com/spbu-coding-2025/4-gorbuzova.git
	branch = main
[submodule "4-lupusarqentum"]
	path = 4-lupusarqentum
	url = https://github.com/spbu-coding-2025/4-lupusarqentum.git
	branch = main
[submodule "4-narysh"]
	path = 4-narysh
	url = https://github.com/spbu-coding-2025/4-narysh.git
	branch = main
[submodule "4-wydfiy"]
	path = 4-wydfiy
	url = https://github.com/spbu-coding-2025/4-wydfiy.git
	branch = main
[submodule "4-AlexeyMashkovichUniWork"]
	path = 4-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/4-AlexeyMashkovichUniWork.git
	branch = main
[submodule "4-Brulevich-Nikita"]
	path = 4-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/4-Brulevich-Nikita.git
	branch = main
[submodule "4-ButyugovMxx"]
	path = 4-ButyugovMxx
	url = https://github.com/spbu-coding-2025/4-ButyugovMxx.git
	branch = main
[submodule "4-DenisPotapov0"]
	path = 4-DenisPotapov0
	url = https://github.com/spbu-coding-2025/4-DenisPotapov0.git
	branch = main
[submodule "4-KrimPast"]
	path = 4-KrimPast
	url = https://github.com/spbu-coding-2025/4-KrimPast.git
	branch = main
[submodule "4-Lizavod"]
	path = 4-Lizavod
	url = https://github.com/spbu-coding-2025/4-Lizavod.git
	branch = main
[submodule "4-LuhTonkaYeat"]
	path = 4-LuhTonkaYeat
	url = https://github.com/spbu-coding-2025/4-LuhTonkaYeat.git
	branch = main
[submodule "4-Maxdess067"]
	path = 4-Maxdess067
	url = https://github.com/spbu-coding-2025/4-Maxdess067.git
	branch = main
[submodule "4-Maxllon"]
	path = 4-Maxllon
	url = https://github.com/spbu-coding-2025/4-Maxllon.git
	branch = main
[submodule "4-RannyayaAnastasia"]
	path = 4-RannyayaAnastasia
	url = https://github.com/spbu-coding-2025/4-RannyayaAnastasia.git
	branch = main
[submodule "4-Vlm326"]
	path = 4-Vlm326
	url = https://github.com/spbu-coding-2025/4-Vlm326.git
	branch = main
[submodule "4-alferukn"]
	path = 4-alferukn
	url = https://github.com/spbu-coding-2025/4-alferukn.git
	branch = main
[submodule "4-altrum06"]
	path = 4-altrum06
	url = https://github.com/spbu-coding-2025/4-altrum06.git
	branch = main
[submodule "4-arinamklvch"]
	path = 4-arinamklvch
	url = https://github.com/spbu-coding-2025/4-arinamklvch.git
	branch = main
[submodule "4-e4d08"]
	path = 4-e4d08
	url = https://github.com/spbu-coding-2025/4-e4d08.git
	branch = main
[submodule "4-estoniec"]
	path = 4-estoniec
	url = https://github.com/spbu-coding-2025/4-estoniec.git
	branch = main
[submodule "4-kabkyrie"]
	path = 4-kabkyrie
	url = https://github.com/spbu-coding-2025/4-kabkyrie.git
	branch = main
[submodule "4-kijexs"]
	path = 4-kijexs
	url = https://github.com/spbu-coding-2025/4-kijexs.git
	branch = main
[submodule "4-meow79"]
	path = 4-meow79
	url = https://github.com/spbu-coding-2025/4-meow79.git
	branch = main
[submodule "4-polka777"]
	path = 4-polka777
	url = https://github.com/spbu-coding-2025/4-polka777.git
	branch = main
[submodule "4-qwerty787878"]
	path = 4-qwerty787878
	url = https://github.com/spbu-coding-2025/4-qwerty787878.git
	branch = main
[submodule "4-Ganesha1967"]
	path = 4-Ganesha1967
	url = https://github.com/spbu-coding-2025/4-Ganesha1967.git
	branch = main
[submodule "4-Prosto-Dan"]
	path = 4-Prosto-Dan
	url = https://github.com/spbu-coding-2025/4-Prosto-Dan.git
	branch = main
[submodule "4-liptonn405"]
	path = 4-liptonn405
	url = https://github.com/spbu-coding-2025/4-liptonn405.git
	branch = main
[submodule "4-IvRevver"]
	path = 4-IvRevver
	url = https://github.com/spbu-coding-2025/4-IvRevver.git
	branch = main
[submodule "4-agresh775"]
	path = 4-agresh775
	url = https://github.com/spbu-coding-2025/4-agresh775.git
	branch = main
[submodule "4-cybulskii-vladimir"]
	path = 4-cybulskii-vladimir
	url = https://github.com/spbu-coding-2025/4-cybulskii-vladimir.git
	branch = main
[submodule "4-taymanov-bn"]
	path = 4-taymanov-bn
	url = https://github.com/spbu-coding-2025/4-taymanov-bn.git
	branch = main
[submodule "4-EndlessRevolution"]
	path = 4-EndlessRevolution
	url = https://github.com/spbu-coding-2025/4-EndlessRevolution.git
	branch = main
[submodule "4-Redkin-Aleksey"]
	path = 4-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/4-Redkin-Aleksey.git
	branch = main
[submodule "4-dem0phob1a"]
	path = 4-dem0phob1a
	url = https://github.com/spbu-coding-2025/4-dem0phob1a.git
	branch = main
[submodule "4-AleksAndr1038"]
	path = 4-AleksAndr1038
	url = https://github.com/spbu-coding-2025/4-AleksAndr1038.git
	branch = main
[submodule "4-AndyBarnv"]
	path = 4-AndyBarnv
	url = https://github.com/spbu-coding-2025/4-AndyBarnv.git
	branch = main
