[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2025/4-grading-tests.git
[submodule "4-AnastasiyaMedentseva"]
	path = 4-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/4-AnastasiyaMedentseva.git
	branch = main
[submodule "4-LeoN192"]
	path = 4-LeoN192
	url = https://github.com/spbu-coding-2025/4-LeoN192.git
	branch = main
[submodule "4-LinaraSun"]
	path = 4-LinaraSun
	url = https://github.com/spbu-coding-2025/4-LinaraSun.git
	branch = main
[submodule "4-RomanKazz"]
	path = 4-RomanKazz
	url = https://github.com/spbu-coding-2025/4-RomanKazz.git
	branch = main
[submodule "4-danisaev"]
	path = 4-danisaev
	url = https://github.com/spbu-coding-2025/4-danisaev.git
	branch = main
[submodule "4-e-leshnik"]
	path = 4-e-leshnik
	url = https://github.com/spbu-coding-2025/4-e-leshnik.git
	branch = main
[submodule "4-gorbuzova"]
	path = 4-gorbuzova
	url = https://github.com/spbu-coding-2025/4-gorbuzova.git
	branch = main
[submodule "4-lupusarqentum"]
	path = 4-lupusarqentum
	url = https://github.com/spbu-coding-2025/4-lupusarqentum.git
	branch = main
[submodule "4-narysh"]
	path = 4-narysh
	url = https://github.com/spbu-coding-2025/4-narysh.git
	branch = main
[submodule "4-wydfiy"]
	path = 4-wydfiy
	url = https://github.com/spbu-coding-2025/4-wydfiy.git
	branch = main
[submodule "4-AlexeyMashkovichUniWork"]
	path = 4-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/4-AlexeyMashkovichUniWork.git
	branch = main
[submodule "4-Brulevich-Nikita"]
	path = 4-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/4-Brulevich-Nikita.git
	branch = main
[submodule "4-ButyugovMxx"]
	path = 4-ButyugovMxx
	url = https://github.com/spbu-coding-2025/4-ButyugovMxx.git
	branch = main
[submodule "4-DenisPotapov0"]
	path = 4-DenisPotapov0
	url = https://github.com/spbu-coding-2025/4-DenisPotapov0.git
	branch = main
[submodule "4-KrimPast"]
	path = 4-KrimPast
	url = https://github.com/spbu-coding-2025/4-KrimPast.git
	branch = main
[submodule "4-Lizavod"]
	path = 4-Lizavod
	url = https://github.com/spbu-coding-2025/4-Lizavod.git
	branch = main
[submodule "4-LuhTonkaYeat"]
	path = 4-LuhTonkaYeat
	url = https://github.com/spbu-coding-2025/4-LuhTonkaYeat.git
	branch = main
[submodule "4-Maxdess067"]
	path = 4-Maxdess067
	url = https://github.com/spbu-coding-2025/4-Maxdess067.git
	branch = main
[submodule "4-Maxllon"]
	path = 4-Maxllon
	url = https://github.com/spbu-coding-2025/4-Maxllon.git
	branch = main
[submodule "4-RannyayaAnastasia"]
	path = 4-RannyayaAnastasia
	url = https://github.com/spbu-coding-2025/4-RannyayaAnastasia.git
	branch = main
[submodule "4-Vlm326"]
	path = 4-Vlm326
	url = https://github.com/spbu-coding-2025/4-Vlm326.git
	branch = main
[submodule "4-alferukn"]
	path = 4-alferukn
	url = https://github.com/spbu-coding-2025/4-alferukn.git
	branch = main
[submodule "4-altrum06"]
	path = 4-altrum06
	url = https://github.com/spbu-coding-2025/4-altrum06.git
	branch = main
